---
import type { MicroCMSDate } from "microcms-js-sdk"
import type { Blog } from "../lib/microcms"
import { formatDate } from "../utils/date"

interface Props {
    blog: Blog & MicroCMSDate
}

const { blog } = Astro.props
---

<article class="bg-white shadow rounded-lg overflow-hidden">
    <a href={`/blog/${blog.id}`} class="text-gray-900 hover:text-gray-600">
        <div class="p-6">
            <h2 class="text-xl font-semibold mb-2">
                {blog.title}
            </h2>
            <div class="flex justify-between items-center text-sm text-gray-500">
                <time datetime={blog.publishedAt}>
                    {blog.publishedAt ? formatDate(blog.publishedAt) : ""}
                </time>
            </div>
        </div>
    </a>
</article>
